:root {
    --wrapper-width: 1400px;
}
/* UTILITIES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1170px;
    margin: 50px auto 0;
    padding: 20px 100px;
    background-color: rgba(167, 108, 223, 0.558);
}
h1 {
    margin-bottom: 20px;
}
input[type='text'] {
    min-width: 23vw;
    padding: 3px 12px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
}

.btn {
    background: black;
    color: white;
    padding: 9px 12px;
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;
}
