:root {
    --wrapper-width: 1400px;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: rgba(123, 94, 149, 0.594);
}
a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: rgb(126, 0, 128);
    border-radius: 25px;
}

h1,
h2,
h3 {
    text-align: center;
}
h1 {
    color: rgb(106, 17, 106);
    font-size: 4em;
}
h2 {
    font-size: 2em;
    margin-bottom: 10px;
}
.button_dado {
    width: 400px;
    margin: 300px auto;
    text-align: center;
}
